modules = ["web", "python-3.12", "java-graalvm22.3", "bash"]
run = "python app.py"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Dadaal App"

[[workflows.workflow]]
name = "Run Dadaal App"
author = 45532938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
